:root {
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --basic-dark-gray: #283136;
  --basic-light-gray: #EEEEEE;
  --basic-other-gray: #888888;
  --basic-red: #F8565A;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;
  --basic-red-hover: #E74246;
  --basic-red-pressing: #D7373B;
  --basic-green-hover: #00BC6C;
  --basic-green-pressing: #00AA62;
  --basic-yellow-hover: #EAB534;
  --basic-yellow-pressing: #EAB534;
}
.page{
  height: 100%;
}
.page-body {
  min-height: 100%;
  display:grid;
  grid-template-rows: min-content 1fr min-conent;
  align-content: start;
}
  body {
  min-width: 1200px;
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: var(--basic-dark-gray);
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: var(--basic-black);
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.main-navigation {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  background-color: var(--basic-light-gray);
  list-style: none;
}



.main-header {
  display: grid;
}

.main-header-logo {
  display: grid;
  grid-template-columns: 1/2;
  outline: 5px solid green;
}
.main-navigation-wrapper{

}
.site-navigation {
  display:grid;
  outline: 2px solid red;
  grid-template-columns: 2/3;
  font-weight: 500;
  font-size: 16px;
  list-style: none;
}
.basket{
  grid-template-columns: 17/24;
  outline: 5px solid blue;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-light-gray);
  color: var(--basic-black);
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: var(--basic-red);
}

.main-navigation a:active {
  background-color: var(--basic-red-pressing);
}

.center {
  list-style: none;
}



.slider-item {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-dark-gray);
  list-style: none;
}

.button {
  width: 240px;
  height: 50px;
  background: var(--basic-red);
  color: var(--basic-white);
  border-radius: 3px;
}

.button-site {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
}
.offer-list-button-offer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  outline: 5px solid orange;

}
.offer-list {



}

.offer-list-button-offer {
  list-style: none;
}

.header-list {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.button-offer {}

.button-red {
  width: 160px;
  height: 50px;
  background: var(--basic-red);
  border-radius: 3px;
  color: var(--basic-white);
}

.button-red a:hover {
  background-color: var(--basic-red-hover);
}

.button-red a:active {
  background-color: var(--basic-red-pressing);
}

.button-green {
  width: 160px;
  height: 50px;
  background: var(--basic-green);
  border-radius: 3px;
  color: var(--basic-white);
}

.button-yellow {
  width: 160px;
  height: 50px;
  background: var(--basic-yellow);
  border-radius: 3px;
  color: var(--basic-white);
}
.about-us-wrapper{
  display: grid;
  grid-template-columns: 7fr 4fr;

  outline:5px solid lightskyblue;
}
.about-us {
  /*display: grid;
  grid-template-columns: 1fr 1fr;
  outline:5px solid orange;*/

  list-style: none;
  }

.about-us-head {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.about-us-page {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
}

.about-us-page {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  list-style: none;
}

.skill,
.standarts-head {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.skill-list {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  list-style: none;
}
.standarts {
  display: grid;
  /*grid-template-columns: 17/24;*/
  outline:5px solid var(--basic-yellow-hover);

}
.number {
  list-style: none;
}

.number-item {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.standarts-item {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.partner {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  outline: 5px solid greenyellow;
}

.page-footer {}

.our-adres{
  display: grid;
  grid-template-columns: 1fr min-content;
  outline: 5px solid violet;

}
.nerds-studio {
  z-index:1;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  }

.adres {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}
.end{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 8fr;
  outline: 5px solid red;
}

.slogan {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;

}
.slogan-page{
  grid-template-columns: 9/16;
  outline: 5px solid red;
}

.nerd-design-studio.slogan-page {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.cost {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
}

.select {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
}

.indicator-item {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
}

.next-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-light-gray);
}

.next-page-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-light-gray);

}

.contact {}

.social-icons {


}

.social-icons-vk {}


.social-icons-fb {

}

.social-icons-ins {

}

.button-write {}
